[visavis_plot_matrix_plot] rect.nonformer {
	fill:url(#nonformer) !important;
	fill-opacity:1.0 !important;
}

[visavis_plot_matrix_plot] rect.visited{
	fill:#0f0 !important;
	fill-opacity:1.0 !important;
}

[visavis_plot_matrix_plot] rect.bgmatrix {
	fill:#f6f6f6;
}

[visavis_plot_matrix_plot] rect.bgmatrix.hidden {
	fill:#fff;
}

[visavis_plot_matrix_plot] line {
	stroke:#fff;
}

[visavis_plot_matrix_plot] text.active {
	fill:#f00;
	font-weight:bold;
}
