rect.nonformer {
	fill:url(#nonformer) !important;
	fill-opacity:1.0 !important;
}

rect.visited{
	fill:#0f0 !important;
	fill-opacity:1.0 !important;
}

rect.bgmatrix {
	fill:#f6f6f6;
}

rect.bgmatrix.hidden {
	fill:#fff;
}

line {
	stroke:#fff;
}

text.active {
	fill:#f00;
	font-weight:bold;
}
