[mpds_visavis_plot][mol_view_error]:not([mol_view_error="Promise"]),
[mpds_visavis_plot_matrix_plot][mol_view_error]:not([mol_view_error="Promise"]),
[mpds_visavis_plot_matrix_root][mol_view_error]:not([mol_view_error="Promise"]),
[mpds_visavis_plot_graph_root][mol_view_error]:not([mol_view_error="Promise"]),
[mpds_visavis_lib_plotly_view][mol_view_error]:not([mol_view_error="Promise"]) {
    background-image: none;
	padding-top: 6rem;
    align-items: flex-start;
    justify-content: center;
}

[mpds_visavis_plot],
[mpds_visavis_plot] .js-plotly-plot .plotly,
[mpds_visavis_plot] .js-plotly-plot .plotly div {
	font-family: inherit;
}

[mpds_visavis_plot][fullscreen] {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
